@import "https://fonts.googleapis.com/css?family=Raleway:400,800,900";

main {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size:20pt;
}

div.container {
    display: flex;
    height:100%;
    align-items: center;
}

div.content {
    width: 100%;
    box-size: border;
    padding: 1em;
    text-align: center;
}
